/*user header*/
.main-header{
    position: fixed;
    width: 100%;
    left: 0px;
    padding: 6px 0;
    background: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.nav-warp{
    position: relative;
    max-width: 1620px;
    padding: 0;
    width: 97%;
}
#app .logo-text{
    padding: 0;
    margin-right: 0px;
}

.logo_subtitle{
    font-size: 13px;
    letter-spacing: 1.5px;
}

.logo-text img{
    width: 215px;
    height: auto;
}

.gNav{
    border-left: 1px solid #ccc;
}

.gNav li{
    float: left;
    list-style: none;
}

.gNav li a{
    padding: 0px 5px 0px 20px;
    font-size: 16px;
    color: #444;
    position: relative;
}

.gNav li a:after{
    position: absolute;
    content: '';
    top: 3px;
    right: 0;
    width: 1px;
    height: 13px;
    background: #444;
}

.gNav li:last-child a:after{
    width: 0;
    height: 0;
}

.gNav .router-link-exact-active,
.gNav .router-link-exact-active>i.fas,
ul.menu_list li a.router-link-exact-active{
    font-weight: bold;
    color: #2980b9;
}

.main-header .navbar-nav .nav-item{
    padding: 3px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #44448c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.main-header .navbar-nav .nav-link{
    width: 160px;
    margin-top: 3px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.main-header .navbar-nav .nav-link:hover{
    opacity: 0.7;
}

.main-header .navbar-nav .nav-link i{
    color: #2980b9;
    font-size: 16px;
}
/*end of user header*/

/*footer*/
.footer{
    font-size: 16px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.footer-nav{
    width: 100%;
}
.footer-nav .gNav{
    display: inline-flex;
    border-left: none;
}
.footer-nav .gNav li{
    margin-left: 50px;
    margin-right: 50px;
}
.footer-nav .gNav li a{
    font-size: 15px;
    font-weight: bold;
}
.footer-nav .gNav li a:after{
    display: none;
}
.footer-nav .gNav li a .fa-envelope{
    color: #2980b9;
    margin-right: 5px;
}
.copyright-text{
    margin-top: 10px;
}
@media only screen and (min-width: 576px){
    ul#navtab{
        display: none;
    }
}
/*end of footer*/

/*main*/
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
body.all-bg{
    background: #f8f8f8;
}
.main-content{
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 1px 2px 0px #ccc;
    -webkit-box-shadow: 0px 1px 2px 0px #ccc;
    -ms-box-shadow: 0px 1px 2px 0px #ccc;
    -moz-box-shadow: 0px 1px 2px 0px #ccc;
    min-height: 100vh;
    background: #fff;
    max-width: 1620px;
}
.pad-free{
    padding: 0px;
}
.maintab-content{
    padding: 7px;
    margin: 75px 0 0 0;
}
.upper-tab{
    margin-top: 63px;
    background: #fff;
    border: 2px solid var(--line-color);
}
.margin-none{
    margin-top: 0px;
}
.nav-tabs .nav-link{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.hospital-borderColor,
.nursing-borderColor{
    border: 1px solid #63b7ff !important;
}
.job-borderColor{
    border: 1px solid #828282 !important;
}
.tab-pane{
    padding: 10px;
}
.category_margin{
    margin: 5px 0 0 0;
}
.tab_pane_02{
    margin-top: 10px;
}
.pad-new{
    padding-left: 5px;
    padding-right: 5px;
}
.tab-content {
    padding: 13px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#myTabContent {
    border: 1px solid #ccc;
    height: 410px;
}
.wrapper-0 {
    flex: 1 0 33.333%;
    position: relative;
    height: 0;
    padding-bottom: 194px;
}
.wrapper-0 img {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    transition: all 250ms ease-out;
}
.source-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.538;
    text-transform: uppercase;
    color: #000;
    margin: 12px 0;
}
.source-subtitle {
    font-size: 12px;
    color: #969798;
    font-weight: 300;
}
.source-img-small {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    width: 100%;
}
.news-wrapper a:hover {
    text-decoration: none;
}
.news-3-card{
    background-color: #f7f7f7;
    border:solid #f3efef;
    border-width: 0 .1rem .1rem 0;
}
.adslist-card {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}
.news-3-card .img-box{
    padding-left: 10px;
}
.wrapper-4{
    flex: 1 0 33.333%;
    position: relative;
    height: 0;
    padding-bottom: 75px;
    overflow: hidden;
}
.wrapper-4 img {
    position: absolute;
    height: 100%;
    transition: all 250ms ease-out;
}
.txt-box {
    color: #333;
    position: relative;
    height: 75px;
    padding-left: 0px;
}
.txt-box p{
    line-height: 1.4em;
    height: 40px;
    overflow: hidden;
}
.tab_title_color{
    border-radius: 3px;
    padding: 2px 4px 0px 4px;
    font-size: 13px;
    background-color: var(--bkgColor);
    color: #fff;
    position: absolute;
    bottom: -1px;
}
.tab_title_d {
    color: #969798;
    font-size: 12px;
    float: right;
    margin-top: 16px;
}
.bordertop-color{
    border-top: 2px solid var(--color);
    padding: 10px 0px 0px 0px;
}
.category_news_title {
    padding: 0px 15px 15px 0px;
}
.h-color span {
    border-left: 5px solid var(--color);
    color: var(--color);
    padding-left: 10px;
    font-weight: bold;
}
.list-label{
    float: right;
    color: #999;
    font-size: 14px;
}
.single-news-box {
    background: #f7f7f7;
    height: 310px;
    padding: 10px;
    border:solid #f3efef;
    border-width: 0 .1rem .1rem 0;
    overflow: hidden;
}
.wrapper-3 {
    flex: 1 0 33.333%;
    position: relative;
    height: 77%;
    overflow: hidden;
}
.wrapper-3 img {
    width: 100%;
    transition: all 250ms ease-out;
}
.single-news-box >p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pattern-txt-box {
    color: #333;
    overflow: hidden;
    position: relative;
    height: 75px;
    padding-left: 0px;
}
.news-list-display{
    padding: 5px 10px;
    margin-bottom: 4px;
    background: #f7f7f7;
    border:solid #f3efef;
    border-width: 0 .1rem .1rem 0;
}
.bordertop-color i {
    color: var(--color);
}
.profile-tit {
    padding: 0 5px 5px 5px;
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 1px;
    min-height: 40px;
    color: #2981cc;
    min-height: 40px;
    color: var(--title-color);
    border-bottom: 1px dashed var(--title-color);
}
.news-slider-width{
    width: 100%;
}

.m_top_left {
  position: absolute;
  top: -1px;
  left: 1px;
} 
.m_top_left span,
.s_top_left {
    border-radius: 1px;
    padding: 0px 6px 0px 6px;
    font-size: 10px;
    background-color: red !important;
    color: white;
}

@media (max-width: 600px) and (min-width: 400px){
    .source-img-small {
        width: 500px;
    }
}


.m-lr-0{
    margin-left: 0px;
    margin-right: 0px;
}


/*page top*/
#myBtn{
    position: fixed;
    bottom: 70px;
    right: 16px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #2980b9;
    color: transparent;
    padding: 15px;
    border-radius: 50%;
    background: url(../images/top-arrow.png) no-repeat left center;
}
/*end of page top*/

/*category menu PC*/
.tab_color{
    background-color: var(--bkgColor);
}
.menu_tab_category{
    position: absolute;
    top: 192px;
    z-index: 9;
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
}
.menu_category{
    margin: 5px 25px 0 21.5px;
    white-space: nowrap;
    overflow: hidden;
    width: 97.5%;
}
#ul_menu_category{
    flex-wrap: nowrap;
    border-bottom: none;
    width: 95.5%;
}
#ul_menu_category li{
    text-align: center;
    margin: 0 1px 0 0;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    align-self: flex-end;
}
#ul_menu_category li a{
    color: #fff;
    border: none;
}
#ul_menu_category li a h2{
    font-size: 18px;
    padding: .2rem .1rem;
}
.menu_category .nav-tabs .router-link-exact-active{
    color: #fff;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-weight: bold;
}
.menu_category .nav-tabs .router-link-exact-active h2{
    font-weight: bold;
}
#left-button{
    position: absolute;
    top: 23px;
    left: auto;
    width: auto;
    line-height: 1;
    background: #fff;
    border: 1px solid #2980b9;
    padding: 1px 5px;
    right: 35px;
    font-size: 25px;
    cursor: pointer;
}
#right-button{
    position: absolute;
    top: 23px;
    right: 10px;
    width: auto;
    line-height: 1;
    background: #fff;
    border: 1px solid #2980b9;
    padding: 1px 5px;
    font-size: 25px;
    cursor: pointer;
}
.left-arr-btn .fas,
.right-arr-btn .fas{
    color: #2980b9;
}
/*end of category menu PC*/

/*ads-slider*/
.ads-slider{
    position: relative;
    top: 10px;
    width: 50%;
    margin: 0 auto 20px;
}
.ads-slider .slick-prev,
.ads-slider .slick-next{
    opacity: 0;
}
.ads-slider .slick-slide{
    margin-left: 3px;
}

.ads-slider .slide-img{
    float: left;
    height: 65px;
    overflow: hidden;
    width: 50%;
    margin-right: 5%;
}
.ads-slider .adslist-card{
    padding: 6px 10px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1px;
    margin-left: -2px;
}
.ads-slider h3{
    font-size: 12px;
    line-height: 1.357;
    color: #333;
    width: auto;
    height: 65px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 0;
    top: -0.2rem;
    max-height: 200px;
}
.img-fluid{
    max-width: 670px;
    width: 100%;
    height: auto;
}
.pattern-txt-box p {
    line-height: 1.4em;
}
.news-list-display03{
    padding: 5.7px 10px;
}
.head-btn{
    margin-top: 8px;
}
.btn_more{
    background-color: #287db4; 
    padding: 5px 30px; 
    border-radius: 0;
    border: none;
    min-width: 150px;
    color: white;
}
.btn_more:hover{
    background-color: #56a4d6; 
}
.btn_more .fas{
    font-size: 20px;
    vertical-align: middle;
}


/* .slick-slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slide img{
    display: block;
    margin: 0 auto;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}
.slick-loading .slick-list{
    background: #fff url('../images/spin.svg') center center no-repeat;
}
.slick-prev,
.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{
    opacity: 0;
}
.slick-prev:before,
.slick-next:before{
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #2980b9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
    left: -10px;
    transform: rotate(-135deg);
}
[dir='rtl'] .slick-prev{
    right: -25px;
    left: auto;
}
.slick-prev:before{
    border: solid #666;
    border-width: .2rem .2rem 0 0;
    height: 10px;
    top: 1.5rem;
    width: 10px;
    display: inline-block;
    content: "";
}
[dir='rtl'] .slick-prev:before{
    content: '';
}
.slick-next{
    right: -10px;
    transform: rotate(45deg);
}
[dir='rtl'] .slick-next{
    right: auto;
    left: -25px;
}
.slick-next:before{
    border: solid #666;
    border-width: .2rem .2rem 0 0;
    height: 10px;
    top: 1.5rem;
    width: 10px;
    display: inline-block;
    content: "";
}
[dir='rtl'] .slick-next:before{
    content: '';
}
.slick-dots{
    position: absolute;
    bottom: -25px;
    display: none !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
    opacity: 1;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: black;
}
.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-next, .slick-prev{
    border: 1px solid #807777;
    outline: none;
    background: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    z-index: 9;
} 
.slick-disabled {
    opacity: 0;
}
.slick-next::before{
    border-width: .2rem .2rem 0 0;
    height: 9px;
    width: 9px;  
}
.slick-prev::before{
    border-width: .2rem .2rem 0 0;
    height: 9px;
    width: 9px;
}
@media only screen and (max-width:1280px){
    .slick-next{
        right: 0;
    }
    .slick-prev{
        left: 0;     
    }
    .button:not(:disabled).slick-next{
        opacity: 0;
    }
}
@media only screen and (min-width: 769px){
   .slick-arrow{   
        display: none !important;   
    } 
}
/*end of slick slider*/

@media only screen and (min-width: 991px) and (max-width: 1880px){
    .ads-slider {
        margin: 0 0 20px 35px;
    }
}
@media only screen and (max-width: 990px){
    .ads-slider{
        top: 30px;
        width: 80%;
    }
    /*search common*/
    .map-wrap{
        display: none;
    }
    /*end of search common*/
}
/*end of ads-slider*/

/*search common*/
.profile_subtit {
    position: relative;
    margin: 20px 0;
    font-size: 16px;
}
.profile_subtit:after {
    content: '';
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 30px;
    height: 5px;
    left: 0;
    border-radius: 2px;
}

#hospitalView .profile_subtit:after {
    background: #63b7ff;
}

#nursingView .profile_subtit:after {
    background: #63b7ff;
}
.tab-pane h5{
    font-size: 18px;
}
.search-map{
    background: #fff;
    padding: 0px 15px 0px 15px;
}
.map-wrap {
    max-width: 1600px;
    padding: 20px 0px;
    background: #edf3f7;
    overflow: auto;
    scrollbar-width: thin;
}
.map-leftwrapper{
    padding-left: 75px;
}
.map-header{
    font-weight: bold;
    font-size: 45px;
    line-height: 1.4;
    position: absolute;
    bottom: 155px;
}
.nursing-map-header{
    color: #2c3e50;
}
.search{
    width: 100%;
    position: relative;
    display: flex;
}
.searchTerm{
    font-size: 16px;
    width: 70%;
    border: 3px solid #2980b9;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #495057;
}
.nursing-search-box .searchTerm{
    border: 3px solid rgb(99, 183, 255);
}

.hospital-search-box .searchTerm{
    border: 3px solid rgb(99, 183, 255);
}
.job-search-box .searchTerm{
    border: 3px solid rgb(130, 130, 130);
}
.searchTerm:focus{
    color: #000;
}
.searchButton {
    font-size: 16px;
    width: 85px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.hospital-search-box .searchButton {
    border: 1px solid rgb(99, 183, 255);
    background: rgb(99, 183, 255);
}

.nursing-search-box .searchButton {
    border: 1px solid rgb(99, 183, 255);
    background: rgb(99, 183, 255);
}
.job-search-box .searchButton {
    border: 1px solid rgb(130, 130, 130);
    background: rgb(130, 130, 130);
}
.divisions {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    max-width: 670px;
}
.align-center{
    text-align: center;
    padding: 0;
}
.division-box>ul {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 10px;
    width: 75px;
}
.division-box a:not([href]) {
    color: #461e0a;
    cursor: pointer;
}
.spanclass {
    letter-spacing: normal;
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 3px;
    width: 72px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
    float: left;
    text-align: center;
    overflow: hidden;
    border: 1px solid #091b27;
    border-radius: 2px;
}
.spanclass a {
    position: relative;
}

/*.container_news*/
.color-1{
    background: #52a2da;
}
.color-2{
    background: #dcb01c;
}
.color-3{
    background: #d7787d;
}
.container_news{
    margin: 0 auto 40px auto;
}
.container_news .row-2{
    width: 90%;
    margin: 0 auto;
}
.container_news .text-new{
    width: 100%;
    border-left: 6px #63b7ff solid;
    background: #edf3f7;
    padding-left: 10px;
    margin-top: 30px;
}
.job_container_news .text-new{
    width: 100%;
    border-left: 6px #828282 solid;
    background-color: rgb(236, 236, 236);
    padding-left: 10px;
    margin-top: 30px;
}
.container_news .text-new span{
    font-size: 30px;
    color: #63b7ff;
    margin-left: 5px;
    line-height: 50px;
}
.job_container_news .text-new span{
    color: #828282;
}
.container_news .button-year{
    margin-top: 20px;
    margin-bottom: 40px;
    display:inline-block;
}
.container_news .button-year button{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    font-size: 18px;
}
.container_news .scroll-year{
    overflow-y: auto;
    height: 320px;
    margin-top: 10px;
}
.container_news .text-body{
    width: 100%;
    border-bottom: 1px gray solid;
    padding: 20px 0px 10px 10px;
    margin: 0;
}
.container_news .new-1{
    width: 280px;
    display: flex;
}
.container_news .day{
    width: 120px;
    font-size: 16px;
}
.container_news .categories{
    color: #fff;
    padding: 5px 0px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.container_news .p-categories{
    width: 150px;
    margin: 0px 8px;
    float: right;
}
.container_news .new-2{
    width: calc(100% - 280px);
    display: flex;
}
.container_news .text-body p{
    margin-bottom: 0.1rem;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}
.container_news .hidden{
    display: none;
}
.container_news .btn-outline-dark:hover,
.container_news .btn-outline-dark.active{
    background-color: #aaa !important;
    color: #000 !important;
    border-color: #aaa !important;
}
.container_news .btn-outline-dark:not(:disabled):not(.disabled).active:focus{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.box-wrap {
    border: 1px solid #dee2e6;
}

.table tr {
    font-size: 18px;
}

.tab-content1 {
    min-height: 350px;
}

.next-title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    clear: both;
    margin-top: 20px;
    color: #000;
    text-align: left;
}

#news_details .related_content {
    width: 100%;
}

.related_box {
    float: left;
    width: 25%;
    padding-right: 10px;
}

.related_box:nth-child(4n) {
    padding-right: 0;
}

.secondary-bg-color {
    background-color: #0cc72c !important;
}

.hovereffect {
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    z-index: 100;
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.fit-image {
    width: 100%;
    object-fit: contain;
    height: 214px;
    padding: 10px 0;
}

.info {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 140px;
    background-color: #2a2d2cb0;
    color: #fff;
    text-align: justify !important;
}

.info div {
    padding: 10px 10px 0px 10px;
    font-size: 12px;
    text-align: justify;
    border-right: 1px solid #fff;
}

#news_details .info p {
    color: #fff;
    padding: 0px 15px;
}

@media only screen and (max-width:1113px){
    .related_box {
        width: 33.33%;
    }
    .related_box:nth-child(4n) {
        padding-right: 10px;
    }
    .related_box:nth-child(3n) {
        padding-right: 0;
    }
}


@media only screen and (max-width:620px){
    /* new details */
    .related_box {
        width: 50%;
    }
    .related_box:nth-child(3n) {
        padding-right: 10px;
    }
    .related_box:nth-child(2n) {
        padding-right: 0;
    }
    /*End new details */
}

@media only screen and (max-width:480px){
    /* new details */
    .related_box {
        width: 100%;
        padding: 0 !important;
    }
    /*End new details */
}
    


/*for breadcrumb*/

.breadcrumb {
    padding: 0px 1rem !important;
    margin-bottom: 8px !important;
    background-color: transparent !important;
    font-size: 18px;
    font-weight: bold;
}

.breadcrumb-item>a {
    color: #2980b9;
    font-weight: bold;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item.active>a {
    color: #f16c00;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '\F105';
    font-family: 'Font Awesome 5 Free';
    padding: 0 4px;
}

@media (max-width: 480px){
    .breadcrumb {
        padding: 0 !important;
    }
}
/*end for breadcrumb*/

.header {
    font-weight: bold;
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 1px;
    border-bottom: 1px dashed #2980b9;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.news_detail_tit {
    text-align: center;
    letter-spacing: normal;
    line-height: 1.5;
}

.header:before {
    content: "";
    position: absolute;
    width: 16%;
    height: 1px;
    bottom: 0;
    left: 42%;
}

.set-date {
    float: right;
    text-indent: 2em;
    margin-bottom: 2px;
}

.newsDetail_leftwrapper {
    max-width: 500px;
}

@media (max-width: 768px){
    .container_news .new-1{
        margin-bottom: 10px;
    }
    .container_news .new-2{
        width: 100%;
    }
    .set-date {
        margin: 0 auto;
        text-indent: 1em;
    }
    .newsDetail_leftwrapper {
        max-width: 320px;
    }
    .p5 {
        font-size: 16px;
    }
}


@media (max-width: 414px){
    .newsDetail_leftwrapper {
        max-width: 100%;
        margin-right: 0px !important;
    }
}


@media (max-width: 320px){
    .set-date {
        text-indent: 0em;
    }
}

/*end of .container_news*/

/*sitepolicy*/
.site_header {
    position: relative;
    margin: 30px 0;
    font-weight: bold;
    line-height: 2;
    text-align: center;
}

.site_header:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 5px;
    margin: 0 auto;
    border-radius: 2px;
    background: #2980b9;
}

.sitepolicy_home,
.privacy {
    padding-left: 20px;
}

.title {
    font-size: 36px;
    padding: 20px;
    color: #636b6f;
}

.title h5 {
    padding-left: 5px;
    margin-bottom: 15px;
    border-left: 3px solid #2980b9;
    font-weight: 700;
}

.sitepolicy ol,
.privacy ol {
    margin-bottom: 35px;
}

.sitepolicy ol li,
.privacy ol li {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
}

.sitepolicy ol li span,
.privacy ol li {
    font-weight: 500;
    font-size: 15px;
}

ol.sub-ol li,
ul.sub-ul li {
    font-weight: 500;
    font-size: 15px;
}

.office_contact {
    text-align: center;
    font-size: 15px;
}

.mx-input {
    background: transparent !important;
}

.joboffer-salary {
    margin-left: 5px;
}

.autocomplete__box,
.autocomplete__inputs {
    padding: 0 !important;
}

.autocomplete__box {
    padding-left: 5px !important;
    background: #f5f5f5 !important;
}

.autocomplete__inputs input:focus {
    background: #f5f5f5 !important;
    box-shadow: none !important;
}

.autocomplete--clear {
    width: 12px !important;
    height: 12px !important;
    position: absolute;
    right: 1%;
    top: 7px;
}
/*end of sitepolicy*/


#hospitalView .profile_header {
    border-left: 5px solid #63b7ff;
}

#nursingView .profile_header {
    border-left: 5px solid #63b7ff;
}

.profile_header {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    position: relative;
    background: #eeeeee;
    color: #000;
    border-radius: 1px;
    border: 1px solid #ffffff;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
}

#job_search .profile_header{
    font-size: 20px;
}

.nurs-sub-heading {
    color: #2c3e50;
    font-weight: bold;
    font-size: 18px;
}

.search-border-dash {
    border: 1px dashed #b7dad2;
    background: #f4f1eb;
}

.card-body {
    padding: 1rem !important;
}

.form-control {
    background-color: #f5f5f5;
    font-size: 16px;
}

#job_search .table tr{
    font-size: 14px;
}
#job_search .form-control{
    font-size: 14px;
}
#job_search .custom-select{
    font-size: .9rem;
}
#job_search .control{
    font-size: 14px;
}
#job_search .seemore-btn{
    font-size: 14px !important;
}
#job_search .create-btn{
    font-size: 14px;
}

#hos table>tbody>tr th {
    background-color: #e8e7e7;
    width: 140px;
    padding: 25px;
}

.t-top-table>.table th,
.table td {
    padding: 0.50rem;
    vertical-align: top;
    word-break: break-all;
}
.custom-table {
    border: solid 1px #ccc;
}

.custom-table thead {
    background-color: #80919a;
}

.custom-table thead th {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.custom-table>.table th,
.table td {
    padding: 0.50rem;
    vertical-align: middle;
}

.custom-table>tbody tr {
    transition: all .3s ease;
}

.custom-table>tbody tr:hover {
    color: #212529;
    background-color: #ecf8ff !important;
}

.custom-table p {
    max-width: 300px;
}

.create-btn {
    color: #fff !important;
    text-align: center;
    background: #b7dad2;
    border-radius: 5px;
    padding: 10px;
}

.nosearch-icon {
    border: 1px solid #b0abab;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 10px;
    line-height: 60px;
    vertical-align: middle;
    background: #ddd;
}

.nosearch-data {
    font-size: 25px;
    color: #2980b9;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}


.nosearch {
    font-size: 18px;
    color: #a5a5a5;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.freeword-responsive p {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0px !important;
    padding-left: 9px !important;
}

.accordion>.card .card-header-title>p {
    color: #25201d;
    font-weight: bold;
    font-size: 16px;
}

.custom_group {
    color: #828282 !important;
    font-size: 14px;
}

.custom_group a {
    cursor: pointer;
}

.custom_group a:last-child li {
    border-bottom: 0px;
}

.custom_group a li {
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 10px 10px 20px;
    color: #2980b9;
    font-weight: bold;
}

.arrow_icon {
    color: #828282 !important;
    font-size: 16px;
    float: right;
    padding-right: 14px;
}

.arrow_icon:before {
    color: #2980b9;
}

.map-addicon {
    position: absolute;
    right: 20px;
    top: 15px;
}

.map-addicon:before {
    color: #2980b9;
    font-weight: bold;
    font-size: 20px;
}

.nursing-map-addicon:before {
    /* color: #ff9563!important; */
    color: #63b7ff!important;
}

.hospital-map-addicon:before {
    color: #63b7ff!important;
}

.job-map-addicon:before {
    color: #828282!important;
}

/*for see more btn*/
.seemore-btn {
    font-size: 16px !important;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4d9fd0;
    background-color: #63b7ff;
}

.seemore-btn:hover {
    color: #fff;
    border: 1px solid #63b7ff;
}

/*for custom checkbox and radio*/

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

.control {
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #e6e6e6;
    border: 1px solid #5d5957;
    border-radius: 3px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #2980b9;
    border: 1px solid #2980b9;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #2980b9;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control--checkbox:hover {
    cursor: pointer;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #2980b9;
}

.control--radio:hover {
    cursor: pointer;
}

.control--radio .control__indicator:after {
    left: 4px;
    top: 4px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #2980b9;
}


/*for inner checkbox*/

.control {
    font-size: 16px;
    width: auto !important;
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.controlinner__indicator {
    position: absolute;
    top: 10px;
    left: 50px;
    height: 16px;
    width: 16px;
    background: #e6e6e6;
    border: 1px solid #5d5957;
    border-radius: 3px;
}

.controlinner--radio .controlinner__indicator {
    border-radius: 50%;
}

.control:hover input~.controlinner__indicator,
.control input:focus~.controlinner__indicator {
    background: #ccc;
}

.control input:checked~.controlinner__indicator {
    background: #ffffff !important;
    border: 1px solid #fff;
}

.control:hover input:not([disabled]):checked~.controlinner__indicator,
.control input:checked:focus~.controlinner__indicator {
    background: #2980b9;
}

.control input:disabled~.controlinner__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.controlinner__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.controlinner--checkbox:hover {
    cursor: pointer;
}

.control input:checked~.controlinner__indicator:after {
    display: block;
}

.controlinner--checkbox .controlinner__indicator:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.controlinner--checkbox input:disabled~.controlinner__indicator:after {
    border-color: #2980b9;
}

.controlinner--radio:hover {
    cursor: pointer;
}

.controlinner--radio .controlinner__indicator:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #101010;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.controlinner--radio input:disabled~.controlinner__indicator:after {
    background: #2980b9;
}
/*end for inner checkbox*/
/*end for custom checkbox and radio*/

@media (max-width: 768px){
    .searchTerm{
        width: 80%;
    }
    .searchButton {
        width: 20%;
    }
}
@media (min-width: 991px) {
  .map-wrap .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 40%;
  }

  .map-wrap .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
    .map-wrap {
        padding: 20px 10px;
    }
    .map-header{
        font-size: 43px;
    }
}
/*end of search common*/


@media only screen and (min-width: 750px){
    /*job search*/
    ul.hokkaido-wrap {
        left: 0px;
    }
    .divisions span {
        margin-right: 10px;
    }
    .hokkaido-box {
        position: absolute;
        top: 11%;
        right: -2%;
        z-index: 2;
        padding: 0;
    }
    .tohoku-box {
        position: absolute;
        top: 26%;
        right: 10%;
        z-index: 2;
        padding: 0;
    }
    .multiple-box {
        width: 153px !important;
    }
    .multiple-boxa {
        width: 152px !important;
    }
    .hokkaido-box .spanclass,
    .kanto-box .spanclass,
    .okinawa-box .spanclass {
        margin-right: 1px;
    }
    .kanto-box {
        position: absolute;
        top: 56%;
        right: 13%;
        z-index: 2;
        padding: 0;
    }
    .hokuriku-box {
        position: absolute;
        top: 23%;
        left: 55.5%;
        z-index: 2;
        padding: 0;
    }
    .tokai-box {
        position: absolute;
        bottom: 28%;
        right: 30%;
        z-index: 2;
        padding: 0;
    }
    .kinki-box {
        position: absolute;
        top: 38%;
        left: 30.5%;
        z-index: 2;
        padding: 0;
    }
    .chugoku-box {
        position: absolute;
        top: 27.5%;
        left: 16%;
        z-index: 2;
        padding: 0;
    }
    .shikoku-box {
        position: absolute;
        left: 18%;
        bottom: 23%;
        z-index: 2;
        padding: 0;
    }
    .kyushu-box {
        position: absolute;
        bottom: 69%;
        left: -0.5%;
        z-index: 2;
        padding: 0;
    }
    .okinawa-box {
        position: absolute;
        bottom: 5%;
        left: 16%;
        z-index: 2;
        padding: 0;
    }
    /*end job search*/
}


@media only screen and (min-width: 991px) and (max-width: 1179px){
    .spanclass{
        padding: 5px 3px;
        width: 60px;
    }
    .map-leftwrapper {
        padding-left: 0;
    }
}



@media only screen and (min-width: 991px) and (max-width: 1114px){
    .spanclass{
        font-size: 12px;
    }
}

@media only screen and (min-width: 1115px) and (max-width: 1179px){
    .spanclass{
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 990px){
    .maintab-content{
        margin: 55px 0 0 0;
    }
    .upper-tab{
        margin-top: 83px !important;
    }
    .margin-none{
        margin-top: 20px !important;
    }
    
}


/*navtab for SP*/
@media only screen and (max-width: 575px){
    .main-header {
        padding: 4px 0;
    }
    .profile-tit {
        padding: 0;
        margin: 0;
    }
    .tab-pane{
        padding: 10px 0 0 0;
    }
    .upper-tab{
        margin-top: 0;
    }
    .news-tabColor .nav-link,
    .nursing-tabColor .nav-link,
    .hospital-tabColor .nav-link,
    .job-tabColor .nav-link{
        height: 60px;
        padding-top: 13px;
        padding: 13px 0 10px 0;
    }
    #navtab{
        left: 0px;
        bottom: 0px;
        z-index: 99;
        width: 100%;
        position: fixed;
        background: #fff;
    }
    .news-tabColor .nav-link,
    .nursing-tabColor .nav-link,
    .hospital-tabColor .nav-link,
    .job-tabColor .nav-link{
        background: #75b777;
        color: #fff;
        border-right: 1px solid #fff;
        font-size: 12px;
    }
    .news-tabColor li.subtab1 > .router-link-active,
    .nursing-tabColor li.subtab2 > .router-link-active,
    .hospital-tabColor li.subtab3 > .router-link-active,
    .job-tabColor li.subtab4 > .router-link-active{
        background: #fff;
        color: #75b777;
        border-top: 3px solid #75b777;
        border-left: 1px solid #75b777;
    }
    .news-tabColor li.subtab1 > .router-link-exact-active>i.fa,
    .news-tabColor li.subtab1 > .router-link-active>i.fas{
        color: #75b777;
    }
    ul.tab-menu-responsive li{
        width: 25%;
        text-align: center;
    }

    .nursing-tabColor li.subtab2 > .router-link-active,
    .hospital-tabColor li.subtab3 > .router-link-active{
        color: #63b7ff;
        border-top: 3px solid #63b7ff;
        border-left: none;
    }
    .nursing-tabColor .nav-link,
    .hospital-tabColor .nav-link{
        background: #63b7ff;
    }

    .job-tabColor li.subtab4 > .router-link-active{
        color: #828282 ;
        border-top: 3px solid #828282 ;
        border-left: none;
    }
    .job-tabColor .nav-link{
        background: #828282;
    }

    /*SP category menu*/
    .cat-nav{
        padding: 0;
        position: relative;
        top: 73px;
        z-index: 1;
    }
    #myTab{
        overflow-x: auto;
        margin: 0 auto;
        white-space: nowrap;
    }
    .no-scrollbar{
        scrollbar-width: none;
    }
    .no-scrollbar::-webkit-scrollbar{
        display: none;
    }
    #myTab ul{
        display: flex;
    }
    #myTab ul li{
        align-self: flex-end;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    #myTab ul li a{
        color: #fff;
        padding: 0.4rem 1rem;
    }
    #myTab ul li a h2{
        font-size: 18px;
    }
    #myTab .router-link-exact-active{
        padding: 0.6rem 1rem 0.4rem 1rem;
    }
    .bg_color{
        width: 100%;
        height: 3px;
        background-color: var(--bg-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    /*end od SP category menu*/

}
/*end of navtab*/

/*end of main*/

@media (min-width: 991px){
    .navbar-expand-lg{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid,
    .navbar-expand-lg > .container-sm,
    .navbar-expand-lg > .container-md,
    .navbar-expand-lg > .container-lg,
    .navbar-expand-lg > .container-xl{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

/*For SP*/
@media only screen and (max-width: 990px){
    /*user header SP*/
    .gNav{
        display: none;
    }
    .menu{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 18px;
        z-index: 99;
    }
    ul.menu_list{
        width: 90%;
        margin: 20px auto;
    }
    ul.menu_list>li{
        border-top: 1px solid #8c9090;
        padding: 8px 0 8px 20px;
        border-left: 1px solid #8c9090;
        border-right: 1px solid #8c9090;
        background: #fff;
    }
    ul.menu_list li a{
        display: block;
        color: #444;
    }
    ul.menu_list li:hover,
    ul.menu_list li.router-link-active,
    ul.menu_list li.router-link-exact-active{
        background-color: #e2e2e2;
        cursor: pointer;
    }
    ul.menu_list li a i{
        font-weight: bold;
        color: #2980b9;
    }
    ul.menu_list li a.router-link-exact-active>i.fas{
        color: #0b4580;
    }
    .menu-list_last{
        border-bottom: 1px solid #8c9090;
    }
    ul.menu_list li:last-child{
        border: none;
        padding: 20px 0px;
        background: none;
    }
    ul.menu_list li:last-child:hover{
        background: transparent;
    }
    .contact_list a{
        display: inline-block;
    }
    /*user header SP*/

    /*footer*/
    .footer-nav .gNav{
        display: none;
    }
    .copyright-text{
        margin-top: 0;
    }
    /*end of footer*/
     
}
/*end of header*/
