/*user header*/
.main-header{
    position: fixed;
    width: 100%;
    left: 0px;
    padding: 6px 0;
    background: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.nav-warp{
    position: relative;
    max-width: 1620px;
    padding: 0;
    width: 97%;
}
#app .logo-text{
    padding: 0;
    margin-right: 0px;
}

.logo_subtitle{
    font-size: 13px;
    letter-spacing: 1.5px;
}

.logo-text img{
	width: 215px;
	height: auto;
}

.gNav{
    border-left: 1px solid #ccc;
}

.gNav li{
    float: left;
    list-style: none;
}

.gNav li a{
    padding: 0px 5px 0px 20px;
    font-size: 16px;
    color: #444;
    position: relative;
}

.gNav li a:after{
    position: absolute;
    content: '';
    top: 3px;
    right: 0;
    width: 1px;
    height: 13px;
    background: #444;
}

.gNav li:last-child a:after{
    width: 0;
    height: 0;
}

.gNav .router-link-exact-active,
.gNav .router-link-exact-active>i.fas,
ul.menu_list li a.router-link-exact-active{
    font-weight: bold;
    color: #2980b9;
}

.main-header .navbar-nav .nav-item{
    padding: 3px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #44448c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.main-header .navbar-nav .nav-link{
    width: 160px;
    margin-top: 3px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.main-header .navbar-nav .nav-link:hover{
    opacity: 0.7;
}

.main-header .navbar-nav .nav-link i{
    color: #2980b9;
    font-size: 16px;
}
/*end of user header*/

/*footer*/
.footer{
    font-size: 16px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.footer-nav{
    width: 100%;
}
.footer-nav .gNav{
    display: inline-flex;
    border-left: none;
}
.footer-nav .gNav li{
    margin-left: 50px;
    margin-right: 50px;
}
.footer-nav .gNav li a{
    font-size: 15px;
    font-weight: bold;
}
.footer-nav .gNav li a:after{
    display: none;
}
.footer-nav .gNav li a .fa-envelope{
    color: #2980b9;
    margin-right: 5px;
}
.copyright-text{
    margin-top: 10px;
}
@media only screen and (min-width: 576px){
    ul#navtab{
        display: none;
    }
}
/*end of footer*/

/*main*/
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
body.all-bg{
    background: #f8f8f8;
}
.main-content{
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 1px 2px 0px #ccc;
    -webkit-box-shadow: 0px 1px 2px 0px #ccc;
    -ms-box-shadow: 0px 1px 2px 0px #ccc;
    -moz-box-shadow: 0px 1px 2px 0px #ccc;
    min-height: 100vh;
    background: #fff;
    max-width: 1620px;
}
.pad-free{
    padding: 0px;
}
.maintab-content{
    padding: 7px;
    margin: 75px 0 0 0;
}
.upper-tab{
    margin-top: 63px;
    background: #fff;
    border: 2px solid var(--line-color);
}
.margin-none{
    margin-top: 0px;
}
.nav-tabs .nav-link{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.hospital-borderColor,
.nursing-borderColor{
    border: 1px solid #63b7ff !important;
}
.job-borderColor{
    border: 1px solid #828282 !important;
}
.tab-pane{
    padding: 10px;
}
.category_margin{
    margin: 5px 0 0 0;
}
.tab_pane_02{
    margin-top: 10px;
}
.pad-new{
    padding-left: 5px;
    padding-right: 5px;
}
.tab-content {
    padding: 13px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#myTabContent {
    border: 1px solid #ccc;
    height: 410px;
}
.wrapper-0 {
    flex: 1 0 33.333%;
    position: relative;
    height: 0;
    padding-bottom: 194px;
}
.wrapper-0 img {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    transition: all 250ms ease-out;
}
.source-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.538;
    text-transform: uppercase;
    color: #000;
    margin: 12px 0;
}
.source-subtitle {
    font-size: 12px;
    color: #969798;
    font-weight: 300;
}
.source-img-small {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    width: 100%;
}
.news-wrapper a:hover {
    text-decoration: none;
}
.news-3-card{
    background-color: #f7f7f7;
    border:solid #f3efef;
    border-width: 0 .1rem .1rem 0;
}
.adslist-card {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}
.news-3-card .img-box{
    padding-left: 10px;
}
.wrapper-4{
    flex: 1 0 33.333%;
    position: relative;
    height: 0;
    padding-bottom: 75px;
    overflow: hidden;
}
.wrapper-4 img {
    position: absolute;
    height: 100%;
    transition: all 250ms ease-out;
}
.txt-box {
    color: #333;
    position: relative;
    height: 75px;
    padding-left: 0px;
}
.txt-box p{
    line-height: 1.4em;
    height: 40px;
    overflow: hidden;
}
.tab_title_color{
    border-radius: 3px;
    padding: 2px 4px 0px 4px;
    font-size: 13px;
    background-color: var(--bkgColor);
    color: #fff;
    position: absolute;
    bottom: -1px;
}
.tab_title_d {
    color: #969798;
    font-size: 12px;
    float: right;
    margin-top: 16px;
}
.bordertop-color{
    border-top: 2px solid var(--color);
    padding: 10px 0px 0px 0px;
}
.category_news_title {
    padding: 0px 15px 15px 0px;
}
.h-color span {
    border-left: 5px solid var(--color);
    color: var(--color);
    padding-left: 10px;
    font-weight: bold;
}
.list-label{
    float: right;
    color: #999;
    font-size: 14px;
}
.single-news-box {
    background: #f7f7f7;
    height: 310px;
    padding: 10px;
    border:solid #f3efef;
    border-width: 0 .1rem .1rem 0;
    overflow: hidden;
}
.wrapper-3 {
    flex: 1 0 33.333%;
    position: relative;
    height: 77%;
    overflow: hidden;
}
.wrapper-3 img {
    width: 100%;
    transition: all 250ms ease-out;
}
.single-news-box >p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pattern-txt-box {
    color: #333;
    overflow: hidden;
    position: relative;
    height: 75px;
    padding-left: 0px;
}
.news-list-display{
    padding: 5px 10px;
    margin-bottom: 4px;
    background: #f7f7f7;
    border:solid #f3efef;
    border-width: 0 .1rem .1rem 0;
}
.bordertop-color i {
    color: var(--color);
}
.profile-tit {
    padding: 0 5px 5px 5px;
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 1px;
    min-height: 40px;
    color: #2981cc;
    min-height: 40px;
    color: var(--title-color);
    border-bottom: 1px dashed var(--title-color);
}

@media (max-width: 600px) and (min-width: 400px){
    .source-img-small {
        width: 500px;
    }
}


.m-lr-0{
    margin-left: 0px;
    margin-right: 0px;
}


/*page top*/
#myBtn{
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #2980b9;
    color: transparent;
    padding: 15px;
    border-radius: 50%;
    background: url(../images/top-arrow.png) no-repeat left center;
}
/*end of page top*/

/*category menu PC*/
.tab_color{
    background-color: var(--bkgColor);
}
.menu_tab_category{
    position: absolute;
    top: 192px;
    z-index: 9;
    width: 100%;
    max-width: 1600px;
}
.menu_category{
    margin: 5px 25px 0 21.5px;
    white-space: nowrap;
    overflow: hidden;
    width: 97.5%;
}
#ul_menu_category{
    flex-wrap: nowrap;
    border-bottom: none;
    width: 95.5%;
}
#ul_menu_category li{
    text-align: center;
    margin: 0 1px 0 0;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    align-self: flex-end;
}
#ul_menu_category li a{
    color: #fff;
    border: none;
}
.menu_category .nav-tabs .router-link-exact-active{
    color: #fff;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-weight: bold;
}
#left-button{
    position: absolute;
    top: 23px;
    left: auto;
    width: auto;
    line-height: 1;
    background: #fff;
    border: 1px solid #2980b9;
    padding: 1px 5px;
    right: 35px;
    font-size: 25px;
    cursor: pointer;
}
#right-button{
    position: absolute;
    top: 23px;
    right: 10px;
    width: auto;
    line-height: 1;
    background: #fff;
    border: 1px solid #2980b9;
    padding: 1px 5px;
    font-size: 25px;
    cursor: pointer;
}
.left-arr-btn .fas,
.right-arr-btn .fas{
    color: #2980b9;
}
/*end of category menu PC*/

/*ads-slider*/
.ads-slider{
    position: relative;
    top: 10px;
    width: 50%;
    margin: 0 auto 20px;
}
.ads-slider .slick-prev,
.ads-slider .slick-next{
    opacity: 0;
}
.ads-slider .slick-slide{
    margin-left: 3px;
}

.ads-slider .slide-img{
    float: left;
    height: 65px;
    overflow: hidden;
    width: 50%;
    margin-right: 5%;
}
.ads-slider .adslist-card{
    padding: 6px 10px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1px;
    margin-left: -2px;
}
.ads-slider h3{
    font-size: 12px;
    line-height: 1.357;
    color: #333;
    width: auto;
    height: 65px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 0;
    top: -0.2rem;
    max-height: 200px;
}
.img-fluid{
    max-width: 670px;
    width: 100%;
    height: auto;
}
.pattern-txt-box p {
    line-height: 1.4em;
}
.news-list-display03{
    padding: 5.7px 10px;
}
.head-btn{
    margin-top: 8px;
}
.btn_more{
    background-color: #287db4; 
    padding: 5px 30px; 
    border-radius: 0;
    border: none;
    min-width: 150px;
    color: white;
}
.btn_more:hover{
    background-color: #56a4d6; 
}
.btn_more .fas{
    font-size: 20px;
    vertical-align: middle;
}


/* .slick-slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slide img{
    display: block;
    margin: 0 auto;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
    width: 100%;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}
.slick-loading .slick-list{
    background: #fff url('../images/spin.svg') center center no-repeat;
}
.slick-prev,
.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{
    opacity: 0;
}
.slick-prev:before,
.slick-next:before{
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #2980b9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
    left: -10px;
    transform: rotate(-135deg);
}
[dir='rtl'] .slick-prev{
    right: -25px;
    left: auto;
}
.slick-prev:before{
    border: solid #666;
    border-width: .2rem .2rem 0 0;
    height: 10px;
    top: 1.5rem;
    width: 10px;
    display: inline-block;
    content: "";
}
[dir='rtl'] .slick-prev:before{
    content: '';
}
.slick-next{
    right: -10px;
    transform: rotate(45deg);
}
[dir='rtl'] .slick-next{
    right: auto;
    left: -25px;
}
.slick-next:before{
    border: solid #666;
    border-width: .2rem .2rem 0 0;
    height: 10px;
    top: 1.5rem;
    width: 10px;
    display: inline-block;
    content: "";
}
[dir='rtl'] .slick-next:before{
    content: '';
}
.slick-dots{
    position: absolute;
    bottom: -25px;
    display: none !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
    opacity: 1;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: black;
}
.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-next, .slick-prev{
    border: 1px solid #807777;
    outline: none;
    background: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    z-index: 9;
} 
.slick-disabled {
    opacity: 0;
}
.slick-next::before{
    border-width: .2rem .2rem 0 0;
    height: 9px;
    width: 9px;  
}
.slick-prev::before{
    border-width: .2rem .2rem 0 0;
    height: 9px;
    width: 9px;
}
@media only screen and (max-width:1280px){
    .slick-next{
        right: 0;
    }
    .slick-prev{
        left: 0;     
    }
    .button:not(:disabled).slick-next{
        opacity: 0;
    }
}
@media only screen and (min-width: 769px){
   .slick-arrow{   
        display: none !important;   
    } 
}
/*end of slick slider*/

@media only screen and (min-width: 991px) and (max-width: 1400px){
    .ads-slider {
        margin: 0 0 20px 35px;
    }
}
@media only screen and (max-width: 990px){
    .ads-slider{
        top: 30px;
        width: 80%;
    }
}
/*end of ads-slider*/



@media only screen and (min-width: 576px) and (max-width: 990px){
    .maintab-content{
        margin: 55px 0 0 0;
    }
    .upper-tab{
        margin-top: 83px !important;
    }
    .margin-none{
        margin-top: 20px !important;
    }
    
}


/*navtab for SP*/
@media only screen and (max-width: 575px){
    .main-header {
        padding: 4px 0;
    }
    .profile-tit {
        padding: 0;
        margin: 0;
    }
    .tab-pane{
        padding: 10px 0 0 0;
    }
    .upper-tab{
        margin-top: 0;
    }
    .news-tabColor .nav-link,
    .nursing-tabColor .nav-link,
    .hospital-tabColor .nav-link,
    .job-tabColor .nav-link{
        height: 60px;
        padding-top: 13px;
        padding: 13px 0 10px 0;
    }
    #navtab{
        left: 0px;
        bottom: 0px;
        z-index: 99;
        width: 100%;
        position: fixed;
        background: #fff;
    }
    .news-tabColor .nav-link,
    .nursing-tabColor .nav-link,
    .hospital-tabColor .nav-link,
    .job-tabColor .nav-link{
        background: #75b777;
        color: #fff;
        border-right: 1px solid #fff;
        font-size: 12px;
    }
    .news-tabColor li.subtab1 > .router-link-active,
    .nursing-tabColor li.subtab2 > .router-link-active,
    .hospital-tabColor li.subtab3 > .router-link-active,
    .job-tabColor li.subtab4 > .router-link-active{
        background: #fff;
        color: #75b777;
        border-top: 3px solid #75b777;
        border-left: 1px solid #75b777;
    }
    .news-tabColor li.subtab1 > .router-link-exact-active>i.fa,
    .news-tabColor li.subtab1 > .router-link-active>i.fas{
        color: #75b777;
    }
    ul.tab-menu-responsive li{
        width: 25%;
        text-align: center;
    }

    .nursing-tabColor li.subtab2 > .router-link-active,
    .hospital-tabColor li.subtab3 > .router-link-active{
        color: #63b7ff;
        border-top: 3px solid #63b7ff;
        border-left: none;
    }
    .nursing-tabColor .nav-link,
    .hospital-tabColor .nav-link{
        background: #63b7ff;
    }

    .job-tabColor li.subtab4 > .router-link-active{
        color: #828282 ;
        border-top: 3px solid #828282 ;
        border-left: none;
    }
    .job-tabColor .nav-link{
        background: #828282;
    }

    /*SP category menu*/
    .cat-nav{
        padding: 0;
        position: relative;
        top: 73px;
        z-index: 1;
    }
    #myTab{
        overflow-x: auto;
        margin: 0 auto;
        white-space: nowrap;
    }
    .no-scrollbar{
        scrollbar-width: none;
    }
    .no-scrollbar::-webkit-scrollbar{
        display: none;
    }
    #myTab ul{
        display: flex;
    }
    #myTab ul li{
        align-self: flex-end;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    #myTab ul li a{
        color: #fff;
        padding: 0.4rem 1rem;
    }
    #myTab .router-link-exact-active{
        padding: 0.6rem 1rem 0.4rem 1rem;
    }
    .bg_color{
        width: 100%;
        height: 3px;
        background-color: var(--bg-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    /*end od SP category menu*/

}
/*end of navtab*/

/*end of main*/

@media (min-width: 991px){
	.navbar-expand-lg{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row nowrap;
		        flex-flow: row nowrap;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.navbar-expand-lg .navbar-nav{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.navbar-expand-lg > .container,
	.navbar-expand-lg > .container-fluid,
	.navbar-expand-lg > .container-sm,
	.navbar-expand-lg > .container-md,
	.navbar-expand-lg > .container-lg,
	.navbar-expand-lg > .container-xl{
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
	}
    .navbar-expand-lg .navbar-collapse{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

/*For SP*/
@media only screen and (max-width: 990px){
    /*user header SP*/
	.gNav{
        display: none;
    }
    .menu{
        cursor: pointer;
        position: absolute;
		right: 10px;
		top: 18px;
		z-index: 99;
    }
    ul.menu_list{
        width: 90%;
        margin: 20px auto;
    }
    ul.menu_list>li{
        border-top: 1px solid #8c9090;
        padding: 8px 0 8px 20px;
        border-left: 1px solid #8c9090;
        border-right: 1px solid #8c9090;
        background: #fff;
    }
    ul.menu_list li a{
        display: block;
        color: #444;
    }
    ul.menu_list li:hover,
    ul.menu_list li.router-link-active,
    ul.menu_list li.router-link-exact-active{
        background-color: #e2e2e2;
        cursor: pointer;
    }
    ul.menu_list li a i{
        font-weight: bold;
        color: #2980b9;
    }
    ul.menu_list li a.router-link-exact-active>i.fas{
        color: #0b4580;
    }
    .menu-list_last{
        border-bottom: 1px solid #8c9090;
    }
    ul.menu_list li:last-child{
        border: none;
        padding: 20px 0px;
        background: none;
    }
    ul.menu_list li:last-child:hover{
        background: transparent;
    }
    .contact_list a{
        display: inline-block;
    }
    /*user header SP*/

    /*footer*/
    .footer-nav .gNav{
        display: none;
    }
    .copyright-text{
        margin-top: 0;
    }
    /*end of footer*/
     
}
/*end of header*/
